<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My database</title>
    </head>
    <body>
        <h1>My database</h1>

        {% for item in users %}
        <p>{{item.name}}</p>
        {% endfor %}
        <table border="2px">
            <tr>
                <td> Name </td>
                <td> Password </td>
            </tr>
        {% for name, password in users %}
            <tr>
                <td> {{names}}</td>
                <td> {{passwords}}</td>
            </tr>
        {% endfor %}
        </table>
        <form method="post" action="/add">
            <label for="name">Name</label>
            <input type="text" name="name"></input><br>
            <label for="passwords">Passwords</label>
            <input type="text" name="passwords"></input><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    console.log("abc")
    $.ajax({
			//	url: '/bbox/'  + image_id,
                url: '/show',
				type: 'GET', 
				//data: JSON.stringify({"bboxes": bboxes, "item_id": item_id, "item_name": item_name,}),
				success: function(names, passwords) {
                    
                    console.log("eeeee")
					//console.log("result", result)
				//	location.reload();
				}
			});
    $.ajax({
        url: '/add',
        type: '/POST',

    })

</script>