<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My database</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>My database</h1>
        <div>
            <table class="table" id="users">
                <thead>
                    <tr class="success">
                        <th>ID</th>
                        <th> Name </th>
                        <th> Password </th>
                    </tr>
                </thead>
                <tbody>
                    {% for lietotajs in lietotaji %}
                    <tr id="{{lietotajs._id}}" class="user">
                        <td class="id"> {{lietotajs._id}}</td>
                        <td class="name"> {{lietotajs.name}}</td>
                        <td class="password"> {{lietotajs.password}}</td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-{{lietotajs._id}}">Edit </button></td>
                        <td><button id="delete_button" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{lietotajs._id}}">Delete </button></td>
                    </tr>
                    
                    <div class="modal fade" id="delete-{{lietotajs._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Delete user</h2>
                                    <button type="button" class="close" data-bs-dismiss="modal" ria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{lietotajs._id}} {{lietotajs.name}} with password {{lietotajs.password}}?</p>
                                    <button type="button" class="btn btn-danger delete-button" value="Delete" data-id="{{lietotajs._id}}">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="edit-{{lietotajs._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Edit user </h2>
                                    <button type="button" class="close" data-bs-dismiss="modal" ria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" id="edit-name-{{lietotajs._id}}" class="form-control" value="{{ lietotajs.name }}" name="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="edit-password-{{lietotajs._id}}" class="form-control" value="{{ lietotajs.password }}"  name="Password" required>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-danger" data-bs-dismiss="modal"></i>Cancel</button>
                                            <button type="button" data-bs-dismiss="modal" onclick="edit_row( '{{lietotajs._id}}')" class="btn btn-success" style="width:100px">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </tbody>
            </table>        

            <input type="button" href="#add"  data-bs-toggle="modal" data-bs-target="#add_row" class="btn btn-success" name="add" value="Add">
            <div class="modal fade" id="add_row" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-bs-dismiss="modal" ria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"> Add to databse </h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <input type="text" id="add-name" class="form-control" value=" " name="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="add-password" class="form-control" value=" " name="Password" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-danger" data-bs-dismiss="modal">Cancel</button>
                                    <button id="add-button" type="button" data-bs-dismiss="modal" class="btn btn-success" style="width:100px">Submit</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div> 
                                
    </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/source.js') }}" type="text/javascript"></script>
